@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


@layer components {
  .gradient-outline {
    background: linear-gradient(90deg, #ff6200, #ffcc00, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

@layer base {
  :root {
    /*
    --gradient-start: #603d9c;
    --gradient-end: #c643c6;
    */
    --gradient-start: #704dab;
    --gradient-end: #d35cd3;

  }
  
  body {
    background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background-size: 200% 200%;
    animation: gradientMove 15s ease infinite;

    
  }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  


  .gradient-outline {
    font-size: 3rem;
    font-weight: bold;

    background: linear-gradient(90deg, #ff6200, #ffcc00, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px transparent;
    position: relative;
  }
  
  @keyframes bounceHigher {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-60px); 
    }
  }
  
  .bounce-higher {
    animation: bounceHigher 4s infinite;
  }
  
  @keyframes bounceNormal {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px); 
    }
  }
  
  .bounce-normal {
    animation: bounceHigher 5s infinite;
  }
  
  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(+30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-title {
    animation: fadeSlideIn 2.5s ease-out;
  }
  